.mainContent {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.leftMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 200px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.rightMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 200px);
  height: 400px;
}


/* product content */
.productContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 50px 50px;
}
