.leftMenuTop {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding-left: 10px;
}

.havenoCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}
